@model UserUpdatePasswordViewModel

@{
    ViewBag.Title = "User Detail";
    string success = null;
    if(TempData["Success"] != null) {
        success = TempData["Success"].ToString();
    }
}
<h4>UPDATE PASSWORD</h4>
<div class="row">
    <form asp-action="UpdatePassword" enctype="multipart/form-data" method="POST" class="col-md-6 was-validated">
        <span class="text-success">@success</span>
        <input asp-for="Id" type="hidden">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" readonly>
            <span asp-validation-for="Username" class="text-danger"></span>
            <span class="text-danger">@Html.ValidationMessage("IsExisted")</span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-success">Update Password</button>
        </div>
    </form>
</div>